<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>907086709758-ngnuh0hiu93k38rdlcq282sbsb4cpv0l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.907086709758-ngnuh0hiu93k38rdlcq282sbsb4cpv0l</string>
	<key>API_KEY</key>
	<string>AIzaSyCRKgZjayi6iMj9vKWBYLufueLGFSX0RGo</string>
	<key>GCM_SENDER_ID</key>
	<string>907086709758</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jjikkyu.interaction-test</string>
	<key>PROJECT_ID</key>
	<string>interaction-test-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>interaction-test-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:907086709758:ios:41443e93dd7a72f9f6b6af</string>
	<key>DATABASE_URL</key>
	<string>https://interaction-test-chat.firebaseio.com</string>
</dict>
</plist>