<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>795527420617-tvtdq5sh8ajfkunlp9kub7ncn9c5vbuq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.795527420617-tvtdq5sh8ajfkunlp9kub7ncn9c5vbuq</string>
	<key>API_KEY</key>
	<string>AIzaSyD4hnaesHGpfJ3EV2jp6nX12RT5AkerGl4</string>
	<key>GCM_SENDER_ID</key>
	<string>795527420617</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jjikkyu.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-5e5b0</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-5e5b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:795527420617:ios:a6ef0a47696750cbd64b18</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-5e5b0.firebaseio.com</string>
</dict>
</plist>